# Azure Databricks
DATABRICKS_HOST=https://adb-xxxx.azuredatabricks.net
DATABRICKS_TOKEN=dapi_xxxx

# Azure
AZURE_SUBSCRIPTION_ID=xxxx-xxxx-xxxx-xxxx

# GCP
GCP_PROJECT_ID=your-gcp-project-id

# Pipeline
ENV_NAME=dev